<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
       style="background-image: url('./assets/img/dominik-martin.jpg');">
    <div class="filter"></div>
    <!--<div class="site-heading">
      <h1 style="color: black; font-family: Arial,sans-serif; font-size: 65px">Sobre</h1>
      <hr class="small">
      <br/>
    </div>-->
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img src="./assets/img/faces/gledson-edit.jpg" alt="Circle Image"
               class="img-rounded img-final img-responsive">
        </div>
        <div class="name">
          <h4 class="title">Gledson Vicente</h4>
          <h6 class="description">Software Developer</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>Olá, eu sou Gledson Vicente, desenvolvedor Java FullStack, formado em Análise e desenvolvimento de sistemas. </p>
          <br/>
          <br>
          <h3>Habilidades</h3><br/>
          <p>Abaixo estão as ferramentas que já trabalhei ao decorrer da minha carreira:</p>
          <br>
          <div class="row justify-content-center">
            <span class="btn btn-outline-default btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="asdasd">Java</span>
            <span class="btn btn-outline-success btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">Spring</span>
            <span class="btn btn-outline-default btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">SQL</span>
            <span class="btn btn-outline-warning btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">JavaScript</span>
            <span class="btn btn-outline-info btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">TypeScript</span>
            <span class="btn btn-outline-danger btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">Angular</span>
            <span class="btn btn-outline-default btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">JWT</span>
            <span class="btn btn-outline-danger btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">Git</span>
            <span class="btn btn-outline-info  btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">Bootstrap</span>
            <span class="btn btn-outline-success btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">RESTful</span>
            <span class="btn btn-outline-default btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">Linux</span>
            <span class="btn btn-outline-default btn-round btn-space" data-toggle="tooltip" data-placement="bottom"
                  title="">MVC</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
